@font-face {
    font-family: 'Germania One';
    src: url('./assets/fonts/GermaniaOne-Regular.woff2') format('woff2'),
        url('./assets/fonts/GermaniaOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url('./assets/fonts/CormorantGaramond-Regular.woff2') format("woff2"),
        url('./assets/fonts/CormorantGaramond-Regular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

@theme {
    --font-germania-one: "Germania One", system-ui;
    --font-cormorant: "Cormorant Garamond", "serif";
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  width: 0;
  animation:
    typing 7s steps(46, end) forwards,
    blink 0.7s step-end 4s 6,
    cursor 0.1s linear 8.2s forwards;
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 46ch;
  }
}

@keyframes blink {
    0%, 100% {
    border-color: white;
  }
  50% {
    border-color: transparent;
  }
}

@keyframes cursor {
    to {
        border-right: none;
    }
}


/*Efecto parallax*/

.parallax-section {
  position: relative;
  overflow: hidden;
}

.parallax-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.monster img {
  will-change: transform;
  transition: transform 0.1s linear;
  filter: drop-shadow(0 0 5px black);
}